<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>00.skeleton</title>
    <link href="../../../lib/bootstrap-3.3.7-dist/css/bootstrap.css" rel="stylesheet">
</head>

<body class="panel">


    <div id="app" class="panel-body">


        <br> v-for
        <br>
        <br>
        <br> arr
        <br> {{ arr }}<br>
        <div v-for="(item,index) in arr">{{ item }}</div>
        <br>
        <br> json
        <br> {{ json }}<br>
        <div v-for="(item,index) in json">{{ item }}</div>
        <br>
        <br> objs
        <br> {{ objs }}<br>
        <div v-for="(item,index) in objs" :key="item.id">{{ item }}</div>
        <br>
    </div>


    <script src="../../../lib/vue.v2.5.2.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                arr: ['apple', 'orange', 'banana'],
                json: { a: 'apple', b: 'banana' },
                objs: [
                    { id: 1, a: 'apple' },
                    { id: 2, b: 'banana' },
                    { id: 3, b: 'dog' },
                ],
            },
            computed: {
            },
            methods: {
            }
        });
    </script>
</body>

</html>